@font-face {
  font-family: 'PFDinTextPro-Regular';
  src: url('fonts/PFDinTextPro-Regular.eot');
  src: url('fonts/PFDinTextPro-Regular.eot?#iefix') format('eot'),
       url('fonts/PFDinTextPro-Regular.woff') format('woff'),
       url('fonts/PFDinTextPro-Regular.ttf') format('truetype'),
       url('fonts/PFDinTextPro-Regular.svg') format('svg');
}
@font-face {
  font-family: 'PFDinTextPro-Medium';
  src: url('fonts/PFDinTextPro-Medium.eot');
  src: url('fonts/PFDinTextPro-Medium.eot?#iefix') format('eot'),
       url('fonts/PFDinTextPro-Medium.woff') format('woff'),
       url('fonts/PFDinTextPro-Medium.ttf') format('truetype'),
       url('fonts/PFDinTextPro-Medium.svg') format('svg');
}
@font-face {
  font-family: 'EuropeExt';
  src: url('EuropeExtBold.eot');
  src: url('fonts/EuropeExtBold.eot?#iefix') format('eot'),
       url('fonts/EuropeExtBold.woff') format('woff'),
       url('fonts/EuropeExtBold.ttf') format('truetype'),
       url('fonts/EuropeExtBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
html {
  height: 100%;
  color: rgb(195,246,249);
}
body {
  background: rgb(10,18,21);
  height: 100%;
  margin: 0;
  font-family: 'PFDinTextPro-Regular';
}
h1 {
  font-family: 'EuropeExt';
  color: rgb(195,246,249);
  text-transform: uppercase;
  font-size: 3.4vh; 
}
h2 {
    width: 100%;
    color: rgb(195,246,249);
    font-family: EuropeExt;
    font-size: 3vh;
    margin: 0;
    text-align: center;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(85,71,61);
}
label {
  font-size: 1.8vh;
}
.bordered-item {
  border: 2px solid rgb(195,246,249);
}
.bordered-item-blue {
  border: 2px solid rgb(0,98,125);
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;  
  display: -webkit-flex;
}
#med_container {
  width: 100%;
  background: url(../images/med_bg.png) center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.outer_border {
  width: calc(100% - 24px);
  height: 4.8vw;
  border: #c3f6fa 2px solid;
  padding: 10px;
  display: flex;
  -moz-display: flex;
  margin-bottom: 7.5vh;
  transition: all 0.5s linear;
}
.push_button {
    border: rgb(0,98,125) 2px solid;
    width: 100%;
    width: -moz-available;
    background: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: rgb(176,146,97);
    font-family: 'EuropeExt';
    font-size: 1.4vw;
    transition: background 0.6s ease;
    cursor: pointer;
    outline: none;
}
.exam_res {
  font-size: 2vh;
  margin-bottom: 1vh;
}
progress {
  margin: 0 1vh;
}
.bg-transp {
  background: transparent;
}
#inner_med_container {
  margin: 29.5vh 18.4vh 0 18.4vh;
}
.push_button::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(176,146,97);
}
.push_button::-moz-placeholder {
  color: rgb(176,146,97);
}
.vert_cont {
  display: flex;
  flex-direction: column;
}
p {
  color: rgb(195,246,249);
}
.error_p {
    font-family: 'EuropeExt';
    font-size: 3vh;
    color: rgb(195,246,249);
    margin: 0 ;
    text-align: center;
    text-transform: uppercase;
}
.top_p_margin {
    margin-top: 7vh;
}
* {outline: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.output {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}
#startbutton {
  width: 100%;
  background: 0;
  color: rgb(176,146,97);
  font-size: 2vh;
  font-family: EuropeExt;
  margin: 0;
  padding: 0;
}
.outer_border {
    height: 10vh;
    width: 25vh;
    border: #c3f6fa 2px solid;
    padding: 10px;
    display: flex;
    -moz-display: flex;
    margin-bottom: 7.5vh;
}
input {
  border: 0;
  background: 0;
  color: rgb(195,246,249);
  font-family: EuropeExt;
  font-size: 4vh;
  margin: 0 3vh;
}
.bottom-border {
  border-bottom: 1px solid rgb(0,98,125);
}
input::-moz-placeholder {
  color: rgb(0,98,125);
}
input::-webkit-input-placeholder {
  color: rgb(0,98,125);
}
input:-ms-input-placeholder {
  color: rgb(0,98,125);
}
input {
  caret-color: rgb(195,246,249);
}